/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.env.example
composer.lock

### ignoring IDEs
.idea/
_ide_helper.php
.idea/blade.xml
.idea/vcs.xml
.phpcomplete_extended/

### local development database
/storage/database.sqlite

### vendor assets
/resources/views/vendor/sitemap/google-news.php
