// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primaryColor: red;

.navbar{
  margin: 0;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}


.alert-minimalist {
  background-color: rgb(241, 242, 240);
  border-color: rgba(149, 149, 149, 0.3);
  border-radius: 3px;
  color: rgb(149, 149, 149);
  padding: 10px;
}
.alert-minimalist > [data-notify="icon"] {
  height: 50px;
  margin-right: 12px;
}
.alert-minimalist > [data-notify="title"] {
  color: rgb(51, 51, 51);
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
  font-size: 80%;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/* Card */
.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
  background: url("/images/profile_cover.png");
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}


/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.progress {
  position: relative;
  height: 25px;
}
.progress > .progress-type {
  position: absolute;
  left: 0px;
  font-weight: 800;
  padding: 3px 30px 2px 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
  position: absolute;
  right: 0px;
  font-weight: 800;
  padding: 3px 10px 2px;
}

.cuadro_intro_hover{
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 200px;
}
.cuadro_intro_hover:hover .caption{
  opacity: 1;
  transform: translateY(-150px);
  -webkit-transform:translateY(-150px);
  -moz-transform:translateY(-150px);
  -ms-transform:translateY(-150px);
  -o-transform:translateY(-150px);
}
.cuadro_intro_hover img{
  z-index: 4;
}
.cuadro_intro_hover .caption{
  position: absolute;
  top:150px;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  width: 100%;
}
.cuadro_intro_hover .blur{
  background-color: rgba(0,0,0,0.7);
  height: 300px;
  z-index: 5;
  position: absolute;
  width: 100%;
}
.cuadro_intro_hover .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 300px;
  text-align: center;
  top:-20px;
  width: 100%;
}

.twitter-typeahead { width: 100%; }
.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint { width: 100%; margin: 0px; padding: 8px 12px; border: 2px solid #ccc; outline: none; }
.twitter-typeahead .tt-input:focus { border: 2px solid #0097cf; }
.twitter-typeahead .tt-hint { color: #999; }
.twitter-typeahead .tt-dropdown-menu { width: 100%; padding: 0; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-top: 0px; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion { text-align: left; padding: 3px 20px; font-size: 18px; line-height: 24px; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion em { font-weight: bold; font-style: normal; }

#custom-templates .empty-message {
  padding: 5px 10px;
  text-align: center;
}

.message-item {
  margin-bottom: 25px;
  margin-left: 40px;
  position: relative;
}
.message-item .message-inner {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  position: relative;
}
.message-item .message-inner:before {
  border-right: 10px solid #ddd;
  border-style: solid;
  border-width: 10px;
  color: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -20px;
  top: 6px;
  width: 0;
}
.message-item .message-inner:after {
  border-right: 10px solid #fff;
  border-style: solid;
  border-width: 10px;
  color: rgba(0,0,0,0);
  content: "";
  display: block;
  height: 0;
  position: absolute;
  left: -18px;
  top: 6px;
  width: 0;
}
.message-item:before {
  background: #fff;
  border-radius: 2px;
  bottom: -30px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  content: "";
  height: 100%;
  left: -30px;
  position: absolute;
  width: 3px;
}
.message-item:after {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  content: "";
  height: 15px;
  left: -36px;
  position: absolute;
  top: 10px;
  width: 15px;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.message-item .message-head {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.message-item .message-head .avatar {
  margin-right: 20px;
}
.message-item .message-head .user-detail {
  overflow: hidden;
}
.message-item .message-head .user-detail h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.message-item .message-head .post-meta {
  float: left;
  padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
  color: #333;
  font-weight: bold;
  text-align: right;
}
.post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}
.message-item .message-head .post-meta >div {
  color: #333;
  font-weight: bold;
  text-align: right;
}
.post-meta > div {
  color: #777;
  font-size: 12px;
  line-height: 22px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.pricing-tables {
  padding: 20px; }
.pricing-tables h1 {
  font-size: 48px; }
.pricing-tables .plan.first {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; }
.pricing-tables .plan.last {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }
.pricing-tables .plan.recommended {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
.pricing-tables .plan.recommended .head {
  margin-bottom: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
.pricing-tables.attached .col-sm-4,
.pricing-tables.attached .col-md-4,
.pricing-tables.attached .col-sm-3,
.pricing-tables.attached .col-md-3 {
  padding-left: 0;
  padding-right: 0; }
.pricing-tables.attached .plan {
  border-radius: 0; }
.pricing-tables.attached .plan .head {
  border-radius: 0; }
.pricing-tables.attached .plan.recommended {
  border-radius: 4px; }
.pricing-tables.attached .plan.recommended .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
.pricing-tables.attached .plan.last {
  border-bottom-right-radius: 4px; }
.pricing-tables.attached .plan.last .head {
  border-top-right-radius: 4px; }
.pricing-tables.attached .plan.first {
  border-bottom-left-radius: 4px; }
.pricing-tables.attached .plan.first .head {
  border-top-left-radius: 4px; }

.plan {
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
  min-height: 100px;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  padding-bottom: 25px;
  text-align: center; }
.plan .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px 16px;
  background: #1c1c1c;
  color: #fff; }
.plan .head h1, .plan .head h2, .plan .head h3 {
  padding: 0;
  margin: 0;
  font-weight: 100; }
.plan .price {
  border-top: 1px solid #eee;
  margin: 0 auto 30px auto;
  width: 80%; }
.plan .price h3 {
  font-size: 82px;
  vertical-align: top;
  line-height: 1; }
.plan .price h3 span {
  font-size: 38px;
  vertical-align: top;
  position: relative;
  margin: 6px 0 0 -7px;
  display: inline-block; }
.plan .price h4 {
  color: #aaa;
  font-size: 14px; }
.plan .btn {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 500; }
.plan ul {
  list-style-type: none;
  padding: 20px;
  margin-top: 2px; }
.plan ul li {
  line-height: 22px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400; }
.plan ul li a {
  text-decoration: underline;
  color: #e6e9ed; }
.plan ul li:last-child {
  border-bottom: none; }
.plan ul strong {
  font-weight: 700; }
.plan.recommended {
  margin-top: 6px;
  box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
  position: relative;
  z-index: 99;
  border-radius: 4px; }
.plan.recommended .head {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #171717; }
.plan.recommended .btn {
  margin-bottom: 10px; }

.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding: 5px 8px;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 25px;
}

.feedback{position: fixed;}

.feedback textarea{height: 180px; }
.feedback .screenshot{ position: relative; top: -24px; right: 10px; opacity: .6}
.feedback .screenshot:hover{  opacity: 1}
.feedback .reported p, .feedback .failed p  { height: 190px}


.feedback.left{left:5px; bottom:15px}
.feedback.right{right:5px; bottom:15px}

.feedback .dropdown-menu{width: 290px;height: 320px;bottom: 50px;}
.feedback.left .dropdown-menu{ left: 0px}
.feedback.right .dropdown-menu{ right: 0px}
.feedback .hideme{ display: none}

/* ----------------------------
 * Callouts
 * ----------------------------
 */

.callout-light {
  padding: 30px;
  color: #000;
  background-color: #ccc;
}

.callout-light h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.4;
}

.callout-dark {
  padding: 30px;
  color: #fff;
  background-color: #252525;
}

.callout-dark h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.4;
}

.callout-dark p {
  color: #B1B1B1;
  font-size: 17px;
}

.callout-mage {
  padding: 30px;
  background-color: #743C58;
  color: #fff;
}

.callout-bubble {
  padding: 30px;
  color: #fff;
  background-color: #A94545;
}

.callout-bubble h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.4;
}

.callout-block {
  background-color: #F5F3F4;
  border-left: 5px solid #a94545;
  border-right: 5px solid #a94545;
  padding: 15px;
}

.callout-block h1,
.callout-block h2,
.callout-block h3,
.callout-block h4 {
  font-weight: 300;
  line-height: 1.4;
}

.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}